{% extends layout %}
{% block content %}

<div class="row">
  <div class="col s6">
    <a class="waves-effect waves-light btn-large green col s12" href="accounts/users/{{user.id}}/edit/">
      Editar Usuário
    </a>
  </div>
  <div class="col s6">
    {% if user.is_active %}
    <a class="waves-effect waves-light btn-large red col s12"{% if request.user.is_superuser %} href="#confirm-desactive"{% else %}disabled{% endif %}>
      Desativar Usuário
    </a>
    {% else %}
    <a class="waves-effect waves-light btn-large blue col s12"{% if request.user.is_superuser %} href="#confirm-active"{% else %}disabled{% endif %}>
      Ativar Usuário
    </a>
    {% endif %}
  </div>
</div>

<div id="confirm-active" class="modal">
  <div class="modal-content">
    <h4>Ativar Usuário</h4>
    <p>Deseja Reativar o usuário:<br/><strong>{{user.first_name}}&nbsp;{{user.last_name}}</strong></p>
    <p>Ao reativar o usuário poderá acessar o sistema.</p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    <a href="accounts/users/{{user.id}}/active/" class="waves-effect waves-green btn-flat">Ativar</a>
  </div>
</div>

<div id="confirm-desactive" class="modal">
  <div class="modal-content">
    <h4>Desativar Usuário</h4>
    <p>Deseja mesmo desativar o usuário:<br/><strong>{{user.first_name}}&nbsp;{{user.last_name}}</strong></p>
    <p>Ao desativar o usuário não poderá mais acessar o sistema, porém todo o conteúdo produzido pelo usuário será conservado.</p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    <a href="accounts/users/{{user.id}}/desactive/" class="waves-effect waves-green btn-flat">Desativar</a>
  </div>
</div>

<h1>{{user.first_name}}&nbsp;{{user.last_name}}</h1>
<h2>{{user}}</h2>
<h5><strong>Cadastrado em:</strong> {{user.date_joined}}</h5>
<div class="row"></div>
<h5>Documentações Criadas</h5>
{% if user.document_set.all.count %}
<div class="collection">
  {% for doc in user.document_set.all %}
  <a href="documentations/{{doc.id}}/" class="collection-item">{{doc.title}}</a>
  {% endfor %}
</div>
{% else %}
<p>Não há Documentação Registrada por esse usuário.</p>
{% endif %}

{% endblock content %}
