{% extends layout %}
{% block content %}

{% if msg %}
{{msg}}
{% endif %}

<div class="valign-wrapper row login-box">
  <div class="col s12 m8 offset-m2">
    <form class="card large" method="post">
      {% csrf_token %}
      <div class="card-image">
        <img src="/static/images/login.png">
        <span class="card-title">
          <h1>
            DokSys - Sistema de Documentação
          </h1>
        </span>
      </div>
      <div class="card-content">
        <p>&nbsp;</p>
        <div class="input-field col s6">
          <input id="username" name="username" type="text" class="validate">
          <label for="username">Usuário</label>
        </div>
        <div class="input-field col s6">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <p>&nbsp;</p>
      </div>
      <div class="card-action">
        <input type="submit" value="Entrar" class="waves-effect waves-light btn-large col s12" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
  </div>
</div>
{% endblock content %}
